@charset "utf-8";
/* CSS Document */
html, body{
	height:100%;
	width:100%;
	margin: 0;
	padding:0;
	background-image:url(img/bgrp2.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-color:black;
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	
}

.header{
	float:left;
	height:8%;
	width:100%;
	background-image:url(img/transbg.png);
	clear:both;
	margin:0;
	padding:0;


	
}

.menuBar{
	height:100%;
	width:90%;
	margin:0 auto;
	margin-top:10px;
	padding:0;
	text-align:center;	
}

.centerContent{
	float:left;
	min-height:82%;
	width:100%;
	clear:both;
	
}
.infoBox{
	min-height:600px;
	width:50%;
	background-image:url(img/transbg.png);
	border-radius:5px;
	border:2px groove white;	
	margin:0 auto;
	margin-top:50px;
	padding:0;
}
.infoBox p{
	text-indent:15px;
	margin-left:10px;
	margin-right:10px;
	font-size:20px;
}
.strip{
	height:180px;
	width:100%;
	clear:both;
	margin:0;
	margin-bottom:10px;
	padding:0;
	text-align:center;
	
	
}
.webBar{
	float:left;
	width:30%;
	height:175px;
	background-image:url(img/imgbg.png);
	margin-left:25px;	
	border-radius:5px;
	border:1px solid white;
}
.webPic{
	width:95%;
	height:90%;
	margin:0 auto;
	clear:both;
	
}
.webBox{
	
	width:95%;
	height:10%;
	font-size:14px;
	margin:0 auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.titleBar{
	float:left;
	clear:both;
	height:50px;
	font-size:45px;
	width:100%;
	background-image:url(img/transbg2.png);
	margin-top:150px;
	padding-bottom:10px;
	text-align:center;
	
	 
	
}
.titleBar p{
	margin-bottom:5px;
	padding:0;
}
.logobox{
	float:left;
	clear:both;
	height:155px;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;	
}
.introBox{
	float:left;
	clear:both;
	height:300px;
	width:100%;
	text-align:center;
	font-size:100px;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.socialMediaBar{
	float:left;
	width:48%;
	height:80%;
	text-align:left;
	margin-top:5px;
	margin-left:5px;
	padding-left:5px;
	border-left-style:dashed;
	border-left-width:1px;
	border-left-color:yellow;
	
	
}

.footer{
	float:left;
	width:100%;
	height:10%;
	clear:both;
	background-color:#333;
	opacity:.8;
	
}

.copyrightbar{
	float:left;
	width:50%;
	height:50px;
	margin-top:5px;
	padding-right:5px;
	text-align:right;
	
}

#mainMenu{
	width:100%;
	margin:0;
	
	padding:0;
	
}

#mainMenu ul, li{
	display:inline-block;
	list-style-type:none;
}

#mainMenu li a{
	text-decoration:none;
	color:#FFF;
	padding-right:10px;
	padding-left:10px;
	font-size:40px;


	
}

#mainMenu li a:hover{
	color:#FF9933;
}

#mainMenu li.active a{
	border:1px solid #666;
	background-color:#333;
	border-radius: 5px;
	padding:3px;
	
}

h2{
font-size:40px;
text-align:center;	
}

a{ 
 text-decoration:none;
 color:#06F;
}

a:hover{
	text-decoration:underline;	
}

a:visited{
	color:#C3C;	
}

#listy li{
	display:block;
	font-size:25px;
}